{% extends "main/base.html" %}
{% load bootstrap3 %}
{% block body %}
<div class="row" style="margin-bottom: 20px">
<div class="col-lg-offset-3 col-lg-6">
	<form method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form  %}
		{% buttons %}
			<button type="submit" class="btn btn-primary" />
						{% bootstrap_icon "ok" %} Submit
			</button>
		{% endbuttons %}
	</form>
</div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d695.2289333229559!2d4.918534829244271!3d45.81294599869413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDXCsDQ4JzQ2LjYiTiA0wrA1NScwOC43IkU!5e0!3m2!1sfr!2sfr!4v1461273796438" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
{% endblock body %}
